body {
  font-family: Arial;
  font-size: 10pt;
}
.rcl th {
  background-color: #006;
  color: #fff;
}
.rcl th, 
.rcl td {
  white-space: nowrap;
  padding: 3px 6px;
}
table.cellpadding-0 td {
	padding: 0;
}
table.cellspacing-0 {
	border-spacing: 0;
	border-collapse: collapse;
}
table.bordered th, 
table.bordered td {
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
}
table.bordered th:last, 
table.bordered td:last {
  border-right: 1px solid #ccc;
}

	
