.collapserow  {border-collapse:collapse;border-spacing:0;border-color:#ffffff;}
@media all and (max-width: 84rem) {
  table.collapserow,
  thead.collapserow,
  tbody.collapserow,
  th.collapserow,
  td.colllapserow,
  tr.collapserow {
    display: block	;
	}
}
	
	